/* Variables */

:root {
  --text-black: #000000;
  --text-section-titles-nav-background: #32425c;
  --text-white: #ffffff;
  --accent-color: #ee3643;  
  --hover-button: #ca2c37;
  --active-button: #ba2732;
  --footer-accent-color: #ffd180;
  --hover-button-order-buy: #63a63e;
  --button-order-buy-in-tab-background: #5fbb2d;
  --active-button-buy: #518534;
  --active-header-button-background-promotion-item: #c5c5c5;
  --background-header-top-footer-top-nav-hover: #293449;
  --active-header-top: #161d29;
  --active-site-navigation: #1d2739;
  --border-color: #eaeaea;
  --background-section-title: #f9f5f0;
  --old-price-promotion-item-background: #a9a9a9;
  --background-main-text-footer-nav: #f1f5f7;  
  --basic-extra-light-blue: #F2F6F8;
  --background-filters-sort:#F7F3EC;
  --order-button-active:rgba(255, 255, 255, 0.5);
  --social-button-background:#212A3A;  
}

/* Global*/

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-black);
  background-color: var(--text-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section-title {  
  font-size: 30px;
  line-height: 30px;  
  color: var(--text-section-titles-nav-background);
  text-transform: uppercase;
}

.new-product-label {  
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text-white);
  background-color: var(--accent-color);
}

.button {  
  font-size: 14px;
  line-height: 18px;  
  text-transform: uppercase;
  color: var(--text-white);
  background-color: var(--accent-color);
  vertical-align: middle;
  border: none;
}

.button:hover {
  background-color: var(--hover-button);
}

.button:active {
  background-color: var(--active-button);
}

.section-highlight {
  background-color: var(--background-section-title);
}

.reset-list {
  list-style: none;
}
/* Header top list*/

.main-header {
  background-color: var(--background-main-text-footer-nav);
}

.main-header-top {  
  color: var(--text-white);
  background-color: var(--background-header-top-footer-top-nav-hover);
}

.main-header-logo {
  background-color: var(--accent-color);
}

.main-header-logo:active {
  background-color: var(--active-button);
}

.header-top-list a {
  color: var(--text-white);
}

.tab:active,
.cart:active {
  background-color: var(--active-header-top);
}

.form-search {
  background-color: transparent;
  color: var(--text-white);
  vertical-align: middle;
  border: none;
}

::placeholder {
  color: var(--text-white);
}

.form-search:focus {
  background-color: var(--text-white);
  color: var(--text-black);
}


.order {
  background-color: var(--button-order-buy-in-tab-background);
}

.order:hover {
  background-color: var(--hover-button-order-buy);
}

.order:active {
  color:var(--order-button-active);  
}

/*Main-header*/

.site-description {  
  font-style: italic;
  font-size: 16px;
  line-height: 23px;  
  color: var(--accent-color);
}

.header-telephone {  
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--accent-color);
}

.header-adress {  
  font-size: 14px;
  line-height: 24px;  
  color: var(--text-section-titles-nav-background);
}

.header-button {  
  font-size: 21px;
  line-height: 21px;  
  color: var(--text-black);
}

.header-button:hover {
  color: var(--accent-color);
}

.header-button:active {
  color: var(--active-header-button-background-promotion-item);
}

.main-navigation {
  background-color: var(--text-section-titles-nav-background);
}
.site-navigation {
  list-style: none;
}

.site-navigation a {  
  color: var(--text-white);
}

.site-navigation a:hover {
  background-color: var(--background-header-top-footer-top-nav-hover);
}

.site-navigation a:active {
  background-color: var(--active-site-navigation);
  opacity: 0.5;
}

/*Promotions*/

.promotions {
  background-color: var(--text-black);
}

.promotion-item-title {  
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--text-white);
}

.promotion-item a {  
  font-size: 14px;
  line-height: 18px;
  color: var(--text-white);
}

.promotion-item a:hover {
  background-color: var(--active-header-button-background-promotion-item);
}

.promotion-item a:active {
  background-color: var(--old-price-promotion-item-background);
}

.promotion-slider-title {  
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-white);
}

.promotion-slider-text {  
  color: var(--text-white);
}

/*Popular products*/

.popular-products-item {
  background-color: var(--text-white);
  box-sizing: border-box;
  border: 1px solid var(--border-color);
}

.popular-products-item-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-black);
}

.price-old {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: line-through;
  color: var(--old-price-promotion-item-background);
}

.price-new {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--text-white);
  background-color: var(--accent-color);
}

/*Popular brands*/

.popular-brands-item {
  background-color: var(--text-white);
  box-sizing: border-box;
  border: 1px solid var(--border-color);
}

.popular-brands-item:hover {  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
  border: none;
}

.popular-brands-item:active {  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
  background-color: var(--background-main-header-popular-brands-item-active);
}
/*Services*/

.services {
  background-color: var(--background-main-text-footer-nav);
}

.services-title {  
  font-size: 30px;
  line-height: 30px;  
  color: var(--text-black);
}

.services p,
.about-us p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-black);
}

.service-button,
.active-service-button {  
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--text-white);
  background-color: var(--text-section-titles-nav-background);
  vertical-align: middle;
  border: none;
}

.active-service-button:focus {
  background-color: var(--text-white);
  color: var(--text-section-titles-nav-background);
}

.service-button:hover {
  background-color: var(--background-header-top-footer-top-nav-hover);
}

.about-us-title,
.contacts-title {  
  font-size: 30px;
  line-height: 30px;  
  color: var(--text-black);
  text-transform: uppercase;
}


/*Footer*/

.main-footer-logo {
  background-color: var(--accent-color);
}

.footer-top {
  background-color: var(--text-section-titles-nav-background);
}

.footer-navigation-list a {  
  color: var(--text-white);
}

.footer-adress {  
  color: var(--text-white);
}

.footer-telephone {  
  color: var(--text-white);
}

.footer-promotions-list a {  
  color: var(--footer-accent-color);
}

.footer-navigation-list a:hover,
.footer-promotions-list a:hover {
  text-decoration: underline;
}

.footer-navigation-list a:active {
  color: var(--background-main-text-footer-nav);
  opacity: 0.5;
  text-decoration: none; 
}

.footer-promotions-list a:active {
  color: var(--footer-accent-color);
  opacity: 0.5;
  text-decoration: none;
}

.footer-bottom {
  background-color: var(--background-header-top-footer-top-nav-hover);
  font-size: 16px;
  line-height: 18px;  
  color: var(--text-white)
}

.footer-contacts-title,
.footer-developed-by-title {
  font: inherit;
}

.footer-contacts a,
.footer-developed-by a {   
  color: var(--footer-accent-color);
}

.footer-contacts a:hover,
.footer-developed-by a:hover {
  text-decoration: underline;
}

.footer-contacts a:active,
.footer-developed-by a:active {
  color: var(--accent-color);
  text-decoration: none;
}

.social-button {
  background-color: var(--social-button-background);
}

.social-button:hover,
.social-button:active {
  background-color: var(--accent-color);
}

/*Catalog*/

/*Header*/

.client-name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: var(--text-black);
}

.my-cart,
.personal-login {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text-section-titles-nav-background);
}

.my-cart:hover,
.personal-login:hover {
  color: var(--accent-color);
}

.client-name:active,
.my-cart:active,
.personal-login:active {
  color: var(--active-header-button-background-promotion-item);
}

/*Breadcrumbs*/

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  line-height: 18px;
  color: var(--text-black);
}

.breadcrumbs-current {
  line-height: 18px;
  color: var(--text-black);
}

/*Filters*/

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}

.filters h2 {
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--background-filters-sort);
}

.button-filters {
  line-height: 18px;
  background-color: transparent;
  text-transform: uppercase;   
  text-align: center;  
  vertical-align: middle;
  box-sizing: border-box;  
  border: 1px solid #E5E5E5;
}

.sort h2 {
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--background-filters-sort);
}

.sort-list {
  list-style: none;
}

.sort-list button {
  font: inherit;
  text-align: center;
  color: var(--text-black);
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--accent-color);
  background-color: transparent;
  opacity: 0.3; 
  border: none;
}

.sort-list button:hover {
  color: var(--text-black);
  text-decoration-style: solid;
  opacity: 1;
}

.sort-list button:active {
  color: var(--accent-color);
  text-decoration: none;
}

/*Catalog list*/

/*Popular products*/


.catalog-list {
  list-style: none;
}

.catalog-list li {
  background-color: var(--text-white);
  box-sizing: border-box;
  border: 1px solid var(--border-color);
}

.catalog-list h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-black);
}

.button-buy {
  background-color: var(--hover-button-order-buy);
  border-radius: 2px;
}

.button-buy:hover {
  background-color: var(--hover-button-order-buy);
}

.button-buy:active {
  background-color: var(--active-button-buy);
}

.button-in-tab {
  color: var(--text-section-titles-nav-background);
  background-color: transparent;
  border: 3px solid var(--hover-button-order-buy);
  border-radius: 2px;
}

.button-in-tab:hover {
  border-color: var(--text-section-titles-nav-background);
  background-color: transparent;
}

.button-in-tab:active {
  background-color: transparent;
  opacity: 0.3;
}

/*Pagination*/

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--text-black);
  background-color: transparent;
  border: 1px solid #E5E5E5;
}

.pagination-item a:hover {
  border: 1px solid #C5C5C5;
}

.pagination-item a:active {
  border: 1px solid var(--accent-color);
}

.pagination-item-current a {
  color: var(--text-white);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/*About drills*/

.about-drills {
  background-color: var(--background-main-text-footer-nav);
}

.about-drills h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--text-black);
}
